@import '../../../../scss/variables.scss';
@import '../../../../scss/rem-calc.scss';


.card-container{
  height: rem-calc(157);
  width: rem-calc(290);
  border-radius: rem-calc(10);
  background-color: $branco;
  margin-bottom: rem-calc(10);
  margin-left: rem-calc(10);
}

.card-content{
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: rem-calc(0) rem-calc(15) rem-calc(20) rem-calc(15);
}

.pokemon-name{
  margin-top: 20px;
  font-weight: 800;
  font-size: 22px;
  font-style: italic;
}

.pokemon-type-container{
  background-color: $cinza;
  text-align: center;
  border-radius: rem-calc(32);
  margin-bottom: rem-calc(5);
}

.pokemon-image-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.pokemon-image-holder{
  background-image: url('../../../../../assets/bg/background-list-pokemons.svg');
  height: rem-calc(90);
  width: rem-calc(110);
  display: flex;
  justify-content: center;
  align-items: center;
}


