@import '../../../../scss/variables.scss';

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

.content-container{
  width: 50%;
  height: 100%;
  padding-top: $padding;
  @media screen and (max-width: 613px) {
    max-width: 600px;
    min-width: 90%;
  }


  @media screen and (min-width: 614px) {
    width: 600px;
   }

}
