<div class="content-holder">
  <div class="card-container">
    <div class="image-container">
      <ngx-skeleton-loader
        appearance="circle"
        animation="progress-dark"
        [theme]="{ 'width.px': 120, 'height.px': 120 }"
      ></ngx-skeleton-loader>
    </div>
    <div>
      <h1 class="text-title-pokemon">
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 150, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </h1>
    </div>
    <div><h2 class="text-title-description">Estatísticas</h2></div>

    <ol>
      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>
      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>      <li>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ 'width.px': 120, 'height.px': 30 }"
        ></ngx-skeleton-loader>
      </li>
    </ol>

    <div class="button-container">
      <button class="button">Voltar</button>
    </div>
  </div>
</div>
