<div class="card-container">
  <div class="card-content">
    <div class="info-content-container">
      <p class="pokemon-name">
        <ngx-skeleton-loader animation="progress-dark" [theme]="{'width.px':100}"></ngx-skeleton-loader>
      </p>
      <ngx-skeleton-loader  animation="progress-dark" [theme]="{'width.px':100}"></ngx-skeleton-loader>
      <ngx-skeleton-loader  animation="progress-dark" [theme]="{'width.px':100}"></ngx-skeleton-loader>

    </div>
    <div class="pokemon-image-container">
      <div>
        <ngx-skeleton-loader  animation="progress-dark" appearance="circle" [theme]="{'width.px':100, 'height.px':100}"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
